Django>=1.3.1
-e git://github.com/andymccurdy/redis-py.git@60e3be561417b3252d832c9fb45bf6072e3ccce8#egg=redis
django-redis-cache

South==0.7.3
django-registration==0.7
django-socialregistration==0.4.6
-e git://github.com/facebook/python-sdk.git#egg=FacebookSDK
sorl-thumbnail==11.09
