{% extends 'welcome/base.html' %}
{% load i18n map_view %}

{% block head %}
  {{ block.super }}

  {% include '_google_maps_api.html' %}
  {% include '_gears_api.html' %}
  {% include '_markercluster_api.html' %}
  {% include '_json_ajax.html' %}

  {% url walls_bbox as bbox_url %}
  {% list_on_map bbox_url "['free', 'paid']" %}

  {% if user.is_authenticated %}
    <script type="text/javascript">
      $(function() {
        $('<a href="{% url walls_add %}">{% trans "Add wall" %}</a>')
          .appendTo("#wall_types_select_bar");
      });
    </script>
  {% endif %}
{% endblock %}
