/* application.css */

/* Our own customizations are nicely tucked in a separate file, yay! */
*
{
    text-align: left;
}

#footer
{
    background: #f0f0ff;

    /* We can over-ride default settings here instead of changing the original
       sticky-footer.css */
    padding-top: 20px;
    height: 150px;
    margin-top: -170px;
}

#main
{
    padding-bottom: 170px;
}

.logo {
    padding-top: 10px;
}
.logo a {
    text-decoration: none;

    color: #8a1f11;
    font-weight: bold;
}

#auth_form, #account_info_panel {
    background: #c3d9ff;
    padding: 5px 0 10px 0;
}
#auth_form label {
    margin: 0;
    padding: 0;
    font-size: x-small;
    font-weight: normal;
}
#auth_form input[type=text],
#auth_form input[type=password] {
    width: 130px;
}
input[type=submit] {
    padding: 3px;
}
#auth_form_left, #auth_form_controls {
    margin-left: 15px;
}
#auth_form_right {
    margin-left: 5px;
}

#account_info_panel #username {
    padding-left: 25px;
}

/* Form */
.field {
    padding-bottom: 20px;
}
.field .label label {
    font-size: large;
}
.field .input input,
.field .input select {
    font-size: large;
}

.submit input[type=submit] {
    font-size: large;
}

.field .input input {
    height: 30px;
    width: 400px;
}

.field .input input,
.field textarea {
    border-width: 2px;
}

.field .input_errors ul.errorlist,
.field .input_errors_top ul.errorlist{
    text-align: left;
    padding-top: 10px;
    font-size: large;
}

/* Object details */
.object_field {
    padding-top: 10px;
    padding-bottom: 15px;
}
.object_field .object_field_title {
    font-weight: bold;
}

/* Comments */
.comments_container {
    padding-top: 10px;
    border-top: 1px dashed gray;
}
.comments_container .comments_list ul.comments li {
    list-style-type: none;
}

.comments_container .comments_form {
    margin-top: 15px;
    padding-bottom: 20px;
}
