.horizontal li, .menu li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.messages_list li{
    list-style-type: none;
}

.errorlist{
    margin:0;
    padding:0;
    padding-bottom:10px;
}
.errorlist li{
    list-style-type: none;
    color: #D33329;
    font-weight: bold;
}
