{% extends 'accounts/base.html' %}
{% load i18n models %}

{% block content %}
  <div id="profile_detail" class="span-24 last">
    {% ifcan request.user 'edit' object %}
      <div id="object_controls" class="object_controls span-24 last">
        <ul class="menu horizontal">
          <li>
            <a href="{% url accounts_my_profile_edit %}">
              {% trans 'Edit' %}
            </a>
          </li>
          <li>
            <a href="{% url walls_my_list %}">
              {% trans 'My walls' %}
            </a>
          </li>
        </ul>
      </div>
    {% endifcan %}
    
    <div id="profile_info" class="span-10">
      <div class="object_field">
        <div class="object_field_title">{% trans 'Birthday' %}</div>
        {{ object.birthday }}
      </div>
    </div>
    <div id="profile_other" class="span-14 last">
      <div class="object_field">
        <div class="object_field_title">{% trans 'Sex' %}</div>
        {{ object.get_sex_display }}
      </div>
    </div>
  </div>
{% endblock %}
