{% extends 'walls/base.html' %}
{% load i18n map_view safe_output models %}

{% block content %}
  <div id="wall_detail" class="span-24 last">
    <div id="object_controls" class="object_controls span-24 last">
      <ul class="menu horizontal">
        {% ifcan request.user 'edit' object %}
          <li>
            <a href="{% url walls_edit object.pk %}">{% trans 'Edit' %}</a>
          </li>
        {% endifcan %}
        {% ifcan request.user 'delete' object %}
          <li>
            <a href="{% url walls_delete object.pk %}">{% trans 'Delete' %}</a>
          </li>
        {% endifcan %}
      </ul>
    </div>
    <div id="wall_info" class="span-10">
      <div class="object_field">
        <div class="object_field_title">{% trans 'Address' %}</div>
        {{ object.address }}
      </div>
      <div class="object_field">
        <div class="object_field_title">{% trans 'Price' %}</div>

        {% if object.is_paid %}
          {{ object.price }} / {{ object.get_period_display }}
        {% else %}
          {% trans 'Free' %}
        {% endif %}
      </div>
      <div class="object_field">
        <div class="object_field_title">{% trans 'Description' %}</div>
        {% safe_html object.description %}
      </div>
    </div>

    <div id="wall_location" class="object_field span-14 last">
      <div class="object_field_title">{% trans 'Location' %}</div>
      {% map_view wall '10' '500px' '500px' %}
      <h5>
        <span>{% trans 'I am lost!' %}</span>&nbsp;
        <span id='locate_marker_control'>{% trans 'locate wall' %}</span>
      </h5>
    </div>
  </div>

  <div id="comments_container" class="comments_container span-24 last">
    <div id="comments_list" class="comments_list span-24 last">
      {% include 'walls/_comment_list.html' %}
    </div>
    <div id="comments_form" class="comments_form span-24 last">
      {% include 'walls/_comment_form.html' %}
    </div>
  </div>
{% endblock %}
