{% extends 'walls/wallimage_list.html' %}
{% load url from future %}
{% load i18n %}

{% block content %}
  <div id="object_controls" class="object_controls span-24 last">
    <ul class="menu horizontal">
      <li>
        <a href="{% url 'walls_detail' wall_pk %}">
          {% trans 'Back to wall' %}
        </a>
      </li>
    </ul>
  </div>
  <div class="span-24 last">
    <a href="{% url 'walls_images_add' wall_pk %}">
      {% trans 'Add image' %}
    </a>
  </div>
  {% for object in object_list %}
    <div class="span-4 last">
      <div class="center">
        {{ object }}
      </div>
      <div class="center">
        <a href="{% url 'walls_images_edit' wall_pk object.pk %}">
          {% include 'walls/_wallimage_miniature.html' %}
        </a>
      </div>
      <div class="center">
        <a href="{% url 'walls_images_delete' wall_pk object.pk %}">
          {% trans 'Delete image' %}
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
