{% extends 'base_no_auth.html' %}
{% load i18n menu %}

{% block auth_panel %}
  {% if user.is_authenticated %}
    <div id="user" class="prepend-3 span-3">
      <div id="username" class="span-3 last">
        {% with user.get_profile as profile %}
          {% if profile %}
            <a href="{{ profile.get_absolute_url }}">
              {{ user.username }}
            </a>
          {% else %}
            {{ user.username }}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="span-2 last">
      <a href="{% url accounts_logout %}">{% trans 'Logout' %}</a>
    </div>
  {% else %}
    <div id="auth_form" class="span-8 last">
      <form action="{% url accounts_login %}" method="post">
        <div class="span-4">
          <div id="auth_form_left">
            <label for="auth_login">{% trans 'Login' %}</label>
            <input type="text" id="auth_login" name="username" />
          </div>
        </div>

        <div class="span-4 last">
          <div id="auth_form_right">
            <label for="auth_password">{% trans 'Password' %}</label>
            <input type="password" id="auth_password" name="password" />
          </div>
        </div>

        <div class="span-8 last">
          <div id="auth_form_controls">
            <input type="submit" id="auth_login_submit" value="{% trans 'Login' %}" />
            &nbsp;
            <a href="{% url accounts_register %}">{% trans 'Registration' %}</a>
          </div>
        </div>

        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
      </form>
    </div>
  {% endif %}
{% endblock %}
