{% extends 'base_no_auth.html' %}
{% load i18n menu %}
{% load url from future %}

{% block auth_panel %}
  {% if user.is_authenticated %}
    <div id="account_info_panel" class="push-3 span-5 last">
      <div id="user" class="left span-3">
        <div id="username">
          {% with user.get_profile as profile %}
            {% if profile %}
              <a href="{{ profile.get_absolute_url }}">
                {{ user.username }}
              </a>
            {% else %}
              {{ user.username }}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="span-2 right last">
        <a href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
      </div>
    </div>
  {% else %}
    <div id="auth_form" class="span-8 last">
      <form action="{% url 'auth_login' %}" method="post">
        <div class="span-4">
          <div id="auth_form_left">
            <label for="auth_login">{% trans 'Login' %}</label>
            <input type="text" id="auth_login" name="username" />
          </div>
        </div>

        <div class="span-4 last">
          <div id="auth_form_right">
            <label for="auth_password">{% trans 'Password' %}</label>
            <input type="password" id="auth_password" name="password" />
          </div>
        </div>

        <div class="span-8 last">
          <div id="auth_form_controls">
            <input type="submit" id="auth_login_submit" value="{% trans 'Login' %}" />
            &nbsp;
            <a href="{% url 'registration_register' %}">{% trans 'Registration' %}</a>
          </div>
        </div>

        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
      </form>
      <div id="auth_form_alternative_controls" class="span-8 last">
        <div id="auth_form_facebook_controls">

          {% include 'django_facebook/_facebook_js.html' %}

          <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <a id="facebook_login" href="javascript:void(0);" onclick="F.connect(this.parentNode);"></a>
            <input type="hidden" name="next" value="{{ request.path }}">
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
